{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 style="padding-top: 19%; -webkit-text-stroke: 1px white;">LOSE WEIGHT AND FEEL GREAT WITH BLOCK DIET</h1>
    <div class="index-text">
        If you decide that there are significant reasons for you to lose weight,
        then there's no time like the present to start your weight loss journey.
    </div>
    <div class="index-text" style="font-weight: bold; padding-top: 5px">
        Benefits of losing weight include:
    </div>
    <div class="index-text">
        <ul>
            <li>Decreased risk of diabetes</li>
            <li>Lowered blood pressure</li>
            <li>Improved cholesterol levels</li>
            <li>Decreased risk of heart disease</li>
            <li>Decreased risk of certain cancers</li>
            <li>Improved mobility</li>
            <li>Decreased joint pain</li>
            <li>Improved blood sugar levels</li>
            <li>Decreased risk of stroke</li>
            <li>Reduced back pain</li>
            <li>Decreased risk or improvement in symptoms of osteoarthritis</li>
            <li>Decreased risk or improvement in symptoms of sleep apnea</li>
            <li>And many more</li>
        </ul>
    </div>

    <h2 style="text-align: left">RULES OF BLOCK DIET</h2>

    <div class="index-text">
        A block diet has a similar background as The Zone Diet® developed by Dr. Barry Sears.
        It encourages you to balance your nutrition in a caloric ratio of 30%-40%-30% (protein - carbohydrates - fats).
        The food block will always consist of protein, carbohydrate and fat of your choice.
        More information in <a href="/blocks">Food Blocks</a>.
    </div>
    <div class="index-text">
        <ul>
            <li>The number of food blocks you should eat per day - 9! No more or less!</li>
            <li>Start your day with a glass of water with 1 tbsp of apple cider vinegar or lemon juice.</li>
            <li>Drink at least 2 liters of pure water daily.</li>
            <li>The time between meals should not exceed 5 hours. The ideal time gap should be between 3 to 4 hours. </li>
            <li>Exercise either 15-20 minutes every day or an hour 2-3 times a week.</li>
            <li>Sleep at least 8 hours and include multivitamins. </li>
        </ul>
    </div>
    <h2>
        Lose weight without hunger and tiredness. Start today!
    </h2>
{% endblock %}
