{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}

    <form action="/password" method="post" class="password">
        <div style="font-weight: bold; padding-bottom: 10px">CHANGE PASSWORD</div>
        <div class="form-group">
            <input class="form-control" name="new_password" id = "new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_confirmation" id = "new_confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>

    <!-- Validates the input -->
    <script>
    window.onsubmit = function validateInput(){
            var password = document.getElementById("new_password").value;
            var confirmation = document.getElementById("new_confirmation").value;
            let input = document.querySelector('input');
            if(password == "")
            {
                alert('Please enter new password');
                document.getElementById('password').focus();
                return false;
            }
            else if(confirmation == "")
            {
                alert('Please enter confirmation of your new password');
                document.getElementById('confirmation').focus();
                return false;
            }
            return true;
    };
    </script>

{% endblock %}
